{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href= "{% static 'ppw_webapp/design.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class = "home">
           <h1>KENIA VISAKHA ZERLINDA</h1>
           <div class = "quote">
                <P>Just because you wander, doesn't mean you lost</P>
                <p>-Annonymous-</p>
            </div>
        </div>

        <div class = "profile">
            <div class="row">
                <div class="col-sm-4 c1">
                    <img src = "https://i.imgur.com/ATR8VkH.jpg" class = "img-responsive img1">
                </div>

                <div class="col-sm-8 c2">
                    <div class = "aboutme">
                        <h2>About Me</h2>
                        <p>I am a Computer Science student at University of Indonesia. The second daughter out of three siblings.
                        I am a muslimah who love reading, writing and cats. I love to learn and gain new experience in life.</p>
                    </div>

                    <div class = "edu">
                        <h2>My Education</h2>
                        <button type="button" class="btn btn1" data-toggle="collapse" data-target="#data1">Formal</button>
                        <div id = "data1" class = "collapse">
                            <p>SD Anglo</p>
                            <p>SD Bunda Hati Kudus</p>
                            <p>SMP Bunda Hati Kudus</p>
                            <p>SMA Labschool Cibubur</p>
                        </div>

                        <button type="button" class="btn btn2" data-toggle="collapse" data-target="#data2">Informal</button>
                        <div id = "data2" class = "collapse">
                            <p>KUMON Math & English</p>
                            <p>Purwacharaka Music School</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "portofolio">
            <div class="row">

                <div class="col-sm-8 c11">
                    <div class="row">
                        <div class="col-sm-6 c12" ></div>
                        <div class="col-sm-6 c13"></div>
                    </div>
                </div>

                <div class="col-sm-4 c14">
                    <h2>MY WORKS</h2>
                    Unfortunately, my works cannot be published yet. 
                </div>
            </div>
        </div>

        <div class = "Exs">
            <div class="row">
                <div class="col-sm-6 c21" >
                    <h2>Skill</h2>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="col-sm-6 c22" >
                    <h2>experience</h2>
                    <p>Sed ut perspiciatis...</p>
                </div>
            </div>
        </div>

        <div class = "contact">
        </div>
        
    </body>
</html>