{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href= "{% static 'ppw_webapp/design.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body id = 'SchedTemp'>

        <div id = 'Act'>
            <h1>New Activity</h1>
            <form method = "POST" class = "post-form">{% crsf_token %}
                {{form}}
                <button type ="submit" class = "save btn btn-default">Save</button>
                <br>
            </form>
            <form method = "POST" action = "{% url 'delete' %}">{% crsf_token %}
                <button type ="" class = "save btn btn-default"> Delete All</button>
            </form>
        </div>

        <body>
            {% for data in events%}
            <article>
            Activity: {{data.Activity}}<br>
            Day     : {{data.Day}}<br>
            Date    : {{data.Date}}<br>
            Details : {{data.Details}}<br>
            </article>  
        </body>

    </body>
</html>