body{
    background-color:#FABB85;
    margin: 0%;
    padding: 0%;
}

/*homepage*/
.home{
    background-image : url("https://i.imgur.com/kGCXkfk.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 85% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h1{
    color: #FFFFFF;
    font-family: Glacial Indifference;
    font-size: 5vw;
    font-weight: 200;
    line-height: 150px;
    text-align: center;
    text-decoration: underline;
    padding-top: 10%;
}

.quote{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

/*Profile*/
.c1{
    background-color: #FDEEEC;
    height:100vh;
}

.img1{
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
    padding-top: 10%;
    padding-left: 5%;
}

.c2{
    background-color: rgb(250, 218, 214);
    height:100vh;
}

.aboutme{
    margin: auto
}

.id{
    font-family: 'Lato';
    font-style: normal;
}
/*Portofolio*/

.c11{
    background-color: aliceblue;
    height: 100vh;
}

.c12{
    background-color: cyan;
    height:50vh;
}

.c13{
    background-color: turquoise;
    height:50vh;
}

.c14{
    background-color: lavenderblush;
    height:100vh;
}


/*Sills and Experience*/
.c21{
    background-color: bisque;
    height: 100vh;
}

.c22{
    background-color: aqua;
    height: 100vh;
}

