<!DOCTYPE html> {% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav>
        <div class="topnav" id="mytopnav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Profile.html">Kenia Visakha Zerlinda</a>
                </div>
                <div class="nav navbar-nav">
                    <a href="Story6/Profile.html">Home</a>
                    <a href="Story6/Status.html">Status</a>
                    <a href="Story6/books.html">Books</a>
                    <a href="Story6/Signup.html">Signup</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script>
        function myFunction() {
            var x = document.getElementById("mytopnav");
            if (x.className === "topnav") {
                x.className += "responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>