{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Books {% endblock %}
{% block css %} <link type= "text/css" rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}
<div class=table>
    <table class="table table bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book Cover</th>
                <th scope="col">Book Title</th>
                <th scope="col">Author/s</th>
                <th scope="col">Publisher</th>
                <th scope="col">Fav</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}