{% extends 'base.html' %}
{% load static %}

{% block title %} Kenia Visakha Zerlinda|Home {% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block content %}

<body>
    <div class="container-fluid">
        <div class="container_row">
            <div class="col-xs-5 col-sm-6 col-lg-4" id="container4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.

                <div>
                    <button type="button" class="btn btn-light" id="dawn" checked="">Theme 1</button>
                </div>
                
                <div>
                    <button type="button" class="btn btn-dark" id="night" checked="">Theme 2</button>
                </div>
            </div>

            <div class="col-xs-7 col-sm-6 col-lg-8" id = "container8">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}